{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <div class="row">
    {% for order in orders %}
      <p class="col-12 col-md-6">
        ID заказа: {{ order.id }}<br />
        Имя пользователя: {{ order.customer.username }}<br />
        Наименование товара: {{ order }}<br />
        Дата заказа: {{ order.date_ordered }}<br />
        Стоимость заказа: {{ order.total_price }}<br />
      </p>
      <div class="delete">
        <a href="/orders/delete/{{ order.id }}/">Удалить заказ</a>
      </div>
      <br />
      <br />
    {% endfor %}
  </div>
  <form action="/orders/create/" method="post">
    {% csrf_token %}
    <div class="input">
      <div class="blockinput">
        <input type="text" name="username" list="character" placeholder="Выберите имя пользователя" />
        <datalist id="character">
          {% for user in users %}
            <option value="{{ user.username }}"></option>
          {% endfor %}
        </datalist>
      </div>

      <div class="blockinput">
        <input type="text" name="goods_name" list="goods" placeholder="Выберите товар" />
        <datalist id="goods">
          {% for good in goods %}
            <option value="{{ good.goods_name }}"></option>
          {% endfor %}
        </datalist>
      </div>

      <div class="blockinput">
        <input type="text" name="total_price" placeholder="Стоимость заказа" />
      </div>
    </div>
    <div>
      <input class="in_submit" type="submit" value="Добавить заказ" />
    </div>
  </form>
  <br /><br /><br /><br /><br />
{% endblock %}
